.editor {
  min-height: 500px;
  width: 100%;
  border: 1px solid #111;
  padding: 20px;
  .bold {
    font-weight: bold;
    color: lightgreen;
  }
  .h1 {
    font-size: 48px;
    color: blue;
  }
  .h2 {
    font-size: 40px;
    color: lightcoral;
  }
  .h3 {
    font-size: 32px;
    color: grey;
  }
}

.toolbar {
  display: flex;
  gap: 10px;
}
